{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 160,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": "*.json*",
      "options": {
        "quoteProps": "preserve",
        "singleQuote": false
      }
    }
  ]
}
